:root {
  color-scheme: light dark;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 700px) {
  body {
    height: 100dvh;
  }
}